<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ category }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Drinks in Category: {{ category }}</h1>
    <div class="category-drinks">
        {% for drink in drinks %}
            <div class="drink-container">
                <a href="{{ url_for('recipe', drink_id=drink['idDrink']) }}">
                    <img src="{{ drink['strDrinkThumb'] }}" alt="{{ drink['strDrink'] }}" class="drink-thumbnail">
                   <p>{{ drink['strDrink'] }}</p> 
                </a>
            </div>
        {% endfor %}
    </div>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
