<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Created Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-4">
        <h1>Created Recipes</h1>
        <div class="saved-recipes">
            {% for recipe in saved_recipes %}
                <div class="recipe">
                    <h2><a href="{{ url_for('recipe', drink_id=recipe['idDrink']) }}">{{ recipe['strDrink'] }}</a></h2>
                    <img src="{{ recipe['strDrinkThumb'] }}" alt="{{ recipe['strDrink'] }}" class="saveddrink-thumbnail">
                    <p><strong>Notes:</strong> {{ recipe['notes'] }}</p>
                    <p><strong>Saved Date:</strong> {{ recipe['saved_date'] }}</p>
                </div>
            {% endfor %}
        </div>
        <a href="{{ url_for('home') }}">Back to Home</a>
    </div>
</body>
</html>
